*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: neu;
    src: url("./assets/Neu-Regular.otf");
}
header{
    background-color:#11083b;
    height:100vh;
}
html{
    scroll-behavior: smooth;
}
.wrapper{
    font-family: neu;
    width: 100%;
    height: fit-content;
    min-height: 100vh;
    color: #ced5d8;
}
.navbar{
    width: 43%;
    height: 3.5rem;
    background-color: #11083b;
    border: 2px solid #0b030302;
    border-radius: 50px;
    padding: 15px;
    position: sticky;
    top: 50px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
ul{
    display: flex;
    gap: 2rem;
}
ul li{
    list-style-type: none;
}
ul li a{
    text-decoration: none;
    color: #bbb9c3;
}
.main-content{
    width: 100%;
    justify-content: center;  
}
.hero-section{
    height: 90vh;
    width: 100%;
    font-size: 2.5rem;
    font-family:cursive;
    color: #b9bbb1c8;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;
    margin-top: -100px;
    margin-bottom: 50px;
    animation: morph 1s ease-in-out infinite;
}
@keyframes morph {
    0% {
        font-size: 2.7rem; /* Start size */
        color: #73758b; /* Start color */
    }
    50% {
        font-size: 3rem; /* End size */
        color: #8cb7e4; /* End color */
    }
}
.logo{
    padding:150px;
    margin-top:-400px;
    margin-bottom: -70px;
    align-items: center;
    width:105%;   
}
.main-heading{
    font-size: 1.75rem;
    font-family:cursive  
}
.sub-heading{
    font-size: 1.5rem;
    font-style: italic;
    color:rgb(50, 88, 137);
    text-align: center;  
}
.about-info{
    font-size: 1.7rem;
    font-style: italic;
    margin-bottom: 10px;
}
.about-section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about-content{
    width: 60%;
    justify-content: center;
    padding:150px;
    margin-top: -35px;
    margin-bottom: -70px;
}
.skills-content{
    width: 100%;
    justify-content: center;
    padding:150px;
    margin-top: -35px;
    text-align: center;
}
.skills-section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}
.skill-heading{
    font-size: 4rem;
    font-family:fantasy
}
.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px; /* Adjust as needed for spacing between images */
    width: 90vw; /* Adjust as needed */
    max-width: 800px; /* Adjust as needed */
    margin: auto;
    margin-bottom: 20px;
}
.image-grid img {
    width: 45%;
    height: auto;
    object-fit: cover;
    border-radius: 8px; /* Optional: for rounded corners */
    margin-bottom: 40px;
}
.main-heading2{
    margin-top: -190px;
}
.project-section{
    width: 100%;
    min-height: 140vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.project-card-container{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 40px;
}
.project-card{
    width: 48%;
    background-color: #9de0f6;
    padding: 2px;
    border: 2px solid #aeaeae50;
    border-radius: 15px;
    margin-bottom: 15px;
    color: #070707;
}
.project-description{
    font-family: cursive;
    font-size: medium;
    margin-top: 5px;   
}
.project-card a{
    text-decoration: none;
    color: orangered;
    margin-top: 20px;
}
.project-card p{
    text-decoration: none;
    margin-top: 20px;
}
.resume-section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.info{
    display:block;
    background-color: #39a2c5;
    color:#fff;
    padding:15px;
    cursor:pointer;
    text-decoration-color:none;
    width:320px;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
}
.info:hover{
    background-color: #bbb9c3;
}
.contact-section{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color:#bbb9c3;
    text-align: center; 
}
.contact-me{
    font-size: 70px;
    font-style: italic;
    font-family: sans-serif;
    margin-bottom: 80px;
}
.contact-section p {
    font-size: 35px;
    color:#ecef99;
    margin-bottom:17px;
}
.contact-section i{
    color:#3cefdd;
    margin-right: 15px;
}